user_data/config.live.nfi.dynamic.top40.302u.max2.runtime.json
user_data/generated/*.runtime.json
user_data/generated/*.local.json
user_data/generated/*.tmp
user_data/logs/*.log
#user_data/reviews/
!user_data/reviews/.gitkeep
user_data/runtime/*
!user_data/runtime/.gitkeep
user_data/data/*
!user_data/data/.gitkeep
*.zip
*.out
*.err
